<% layout("layouts/boilerplate") %>
   <div class="row mt-3">
    <div class="col-8 offset-2">
    <h3> Edit your Listing</h3>
    <br>
    <form method="post" action="/listings/<%=listing._id%>?_method=put" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-label">Title:</label>
            <input type="text" name="listing[title]"required class="form-control" placeholder="Edit Title" value="<%=listing.title%>">
            <div class="valid-feedback">Title looks good</div>
        </div>
       <div class="mb-3">
          <label for="description" class="form-label">description:</label> 
          <textarea name="listing[description]" class="form-control" required><%=listing.description %></textarea>
          <div class="invalid-feedback">Description should be short</div>
        </div>
        <div>
          <h5> Original Image</h5>
          <img src="<%=originalUrl%>">
        </div>
        <div>
          <label for="image" class="form-label">Image Url:</label>
            <input type="file" name="listing[image]" class="form-control"> 
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
          <label class="form-label">Price:</label>
            <input type="text" name="listing[price]"required class="form-control" value="<%=listing.price %>">
            <div class="invalid-feedback">Price should be valid</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">country:</label>
            <input type="text" name="listing[country]" class="form-control" value="<%=listing.country%>" required>
            <div class="invalid-feedback">Country should be valid</div>
        </div>
        </div>
        
        <div class="mb-3">
          <label for="location" class="form-label">Location:</label>
            <input type="text" name="listing[location]"required class="form-control"value="<%=listing.location%>">
            <div class="invalid-feedback">Location should be valid</div>
        </div>
        <button class="btn-dark edit-btn mt-3"> Edit </button> 
        <br><br><br><br>
    </form>
</div>
</div>
